$prefix: "../img/";
$bg__comingsoon-img: "../img/coming.jpg";
$bg__contact-img: 
    $prefix+"contact/contact-s1.jpg",
    $prefix+"contact/contact-s2.jpg",
    $prefix+"contact/contact-s3.jpg";
$bg__error-img: "../img/error.jpg";
$bg__index-img: 
    $prefix+"index/index-s1.jpg",
    $prefix+"index/index-s2.jpg",
    $prefix+"index/index-s3.jpg",
    "",
    $prefix+"index/index-s5.jpg",
    $prefix+"index/index-s6.jpg";
$bg__learn-img: 
    $prefix+"learn/learn-s1.jpg",
    $prefix+"learn/learn-s2.jpg",
    $prefix+"learn/learn-s3.jpg",
    $prefix+"learn/learn-s4.jpg",
    $prefix+"learn/learn-s5.jpg";
$bg__privacy-img: "../img/privacy.jpg";
$bg__mission-img: 
    $prefix+"mission/mission-s1.jpg",
    $prefix+"mission/mission-s2.jpg",
    $prefix+"mission/mission-s3.jpg",
    $prefix+"mission/mission-s4.jpg";
$bg__user-img: $prefix+"user/user-s1.jpg";
$bg__classes:
    "comingsoon",
    "contact",
    "error",
    "index",
    "learn",
    "privacy",
    "mission",
    "user";
$bg__aoa:
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__learn-img,
    $bg__privacy-img,
    $bg__mission-img,
    $bg__user-img;
$color__shadow: #333;
$text-shadow: 1px 1px 3px $color__shadow; 